.todo-list {
  margin-top: 0;
  position: sticky;
  background-color: aquamarine;
  width: 100vw;
  justify-content: space-around;
  
  ul {
    list-style: none;
  }
}

.todo-list__title {
  text-align: center;

}

.todo-list__form {
  text-align: center;
}

.todo-list__tasks {
  text-align: center;
}